body{
	font-family: "Roboto", sans-serif;	
}
p{
	margin:1px;
	padding: 0;
}
header{
	border-bottom:2px solid black;
	padding: .7em;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.logo{
	max-width: 60px;
}
.flex{
	display: flex;
}
.container{
	margin:0 auto;
}
.textcentral{
	font-weight: 700;
	font-size: 0.5em;
}

.texto-normal-titulo{
	font-weight: 800;
	font-size: 0.7em;
}

.texto-normal{
	font-size: 0.7em;
}

.factura{
	font-weight: 700;
	font-size: 0.8em;
}

.facturafecha{
	font-weight: 700;
	font-size: 0.6em;
}

.consecutivo{
	color:red;
	font-size: 0.8em;
	font-weight: 800;
}
.date{

}
.datos{
	padding:2.4em 0;
}
.datos p{
	font-weight: 600;
}
.datos p.d2{
	font-weight: 400;
	margin-left:40px;
}

.table{
	width: 100%;
}


table thead tr th{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: .3em 0;
}
table thead tr{
	margin:7px;
}
.space{
	margin:7px 0;
}
table tbody tr td{
	padding: .3em 0;
	
}
footer .notes{
	margin:1em 0;
	padding:.7em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
footer .price{
	margin:1em 0;
	padding: .7em 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
footer .price div.table p{
	border:1px solid black;
	margin:.7px;
}

.discontinuo{
	
}

@media print{
	
}