img.brand{
    max-width: 100px;
    margin: 10px auto;
}
.txt-left{text-align: left;}
.txt-center{text-align: center;}
.txt-right{text-align: right;}
.navbar-header>.navbar-brand{
	color: #fff;
}
.disable{
    opacity: .5;
}
.navbar .nav> li>a{
	color:#fff;
	border-right: 1px solid #226fd1;
}
.navbar .nav>li:hover{
	background-color: #226fd1;
}

/* estilos login con fotos */
.navbar-login{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size{
    font-size: 87px;
}

.top-container{
    margin-top: 90px;
}
.contenido-button button{
    margin-top: 7px;
    margin-left: 10px;
}
.mensaje{
    margin: 10px;
    margin-top: 0;
}
.text-head{
    color: #ff0000;
    font-size: 15px;
}
.link-actualizar{
    margin-top: 13px;
    margin-right: 10px;
    font-size: 17px;
    color: #e67e22;
    font-weight: bold;
}
.link-actualizar:hover{
    color: #e67e22;
}
.link-actualizar:active{
    color: #e67e22;
}
.top-link{
    margin-top: 5px;
}

/* Estilos nav-left */
.nav-left li:visited{
    color: #fff;
    background-color: #337ab7;
}
/********************************************* TOOLTIP PERSONALIZADO **************************************/
/* Estilos para teléfonos móviles y tablet's*/
.tooltip-inner{
    max-width:200px;
    padding:3px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;/*
    background-color:#2E9999;*/
    background: #004171;
    border-radius:4px; 
}
.tooltip.top .tooltip-arrow{
    bottom:0;left:50%;
    margin-left:-5px;/*
    border-top-color:#2E9999;*/
    border-top-color: #004171;
    border-width:5px 5px 0;
}
.tooltip.bottom .tooltip-arrow{
    top:0;
    left:50%;
    margin-left:-5px;
    border-bottom-color:#004171;
    border-width:0 5px 5px;
}

.content{
    border-left:1px solid #ddd;
    overflow: hidden;
    min-height: 450px;
}
.content-span{
    margin-top: 9px;
    font-family: Arial;
    font-size: 20px;
    margin-left: 20px;
}
.label-as-badge {
    border-radius: 1em;
}
.alert-primary{
    background: #337ab7;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}
#vistaPrevia {
    background-color: #FFFFFF; 
    border: 0.5px solid #444444;
    vertical-align: top; 
    width: 90%;
    height: 225px;
    background-size: 100% 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.content-compras{
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content-form{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-top: 15px;
    overflow: hidden;
}
.content-form + .content-form{
    margin-top: 5px;
}
.comprobante-pago-content-venta{
    border:1px solid #337ab7;
    min-height: 170px;
    border-radius: 4px;
}
.comprobante-pago-content-compra{
    border:1px solid #337ab7;
    min-height: 120px;
    border-radius: 4px;
}
.comprobante-pago-title{
    background: #337ab7;
    min-height: 30px;
    margin-bottom: 0;
}
.comprobante-pago-title>p{
    color: #fff;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
}
.content-input{
    padding: 10px;
    padding-top: 0;
    margin-bottom: 10px;
}

.content-tipo p{
    color: #337ab7;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.thead{
    color: #ff0000;
    font-size: 14px;
}
.text-body{
    font-size: 12px;
}
.btn-right{
    overflow: hidden;
    margin-right: 15px;
    margin-bottom: 10px;
}

.calculo{
    font-weight: bold;
}
.total{
    font-size: 20px;
    margin-top: 4px;
}
.badge-red{
    background: #ff0000;
    color: #fff;
}
.badge-green{
    background: #5cb85c;
    color: #fff;
}

/**************************** profile usuario ******************************/
.new-count{
    border: 1px solid #ccc;
    padding: 20px;
    background: #fbf1f1;
    border-radius: 5px;
}
.new-count h3{
    margin-bottom: 20px;
    color: #1e82c4;
    font-weight: bold;
}

.acceso{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    margin-bottom: 20px;
}
.top-form{
    margin-top: 15px;
}
.nav-left li a:checked{
    background:black;
}

/****  Menu left */
.float-right{float:right;}
.navbar-menu{background:#404040; border-radius:0;}
.dropdown-menu{color:black;}
/*.drop-down{position: absolute;background: rgba(255,255,255,0.9);margin-left: -239px;margin-top: 1px;list-style-type: none;padding: 10px;border-radius: 0 0 10px 10px;box-shadow: -1px 3px 4px #ccc;}*/

.nav-right{float:right;}

.m-left{background:rgba(0,0,0,0.75); height: 100%; padding:15px;/*margin-top: -40px;*/color:white;}
.z-1{z-index: 1;}
.inline-flex{display: inline-flex;}
.fixed{position: fixed;}
.barra-left{padding: 20px;height: 100%;position: fixed;cursor: pointer;}
#barra-left{cursor: pointer;}
#m a{color:white;}
#m a:hover{color:black;}
.space{margin-bottom: 35px;}
.more-menu{display: none;}
.cont{width: 95%;margin:0 auto;}
.nav-top-menu{background:#404040;padding:15px;color:white;display: flex;}
.nav-top-menu a{margin:0;padding: 0;color: white;}
.index a{
    color:inherit;
    text-decoration: none;
}
.icon-ventas{
    font-size: 18px;
}
.title{
    font-size: 20px;
    font-weight: 900px;
}
.margin-ico{
    margin:10px;
    width: calc(50% - 20px);
    text-align: center;
}
.margin-ico:hover{
    background: #ccc;
    color: black;
}
.welcome{
    background: #337AB7;
    padding: 52px 40px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin:10px;
}
.welcome p span{
    font-size: 70px;
}
.iconos-i{
    text-align: center;
    padding: 40px;
    background: #337AB7;
    margin:5px;
    width:calc(16.91% - 13px);
    color:white;
    max-height: 166px;
}

.iconos-i p span{
    font-size: 30px;
}
.iconos-i:hover{
    background: #ccc;
    color: black;
    cursor: pointer;
}
@media (max-width: 767px){
    .navbar-nav .open .dropdown-menu {
        position: absolute !important;
        background: #fff !important;
        margin-top:7px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
        box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    }
}
@media (max-width:  840px){
    .m-left{
        display: block;
        width: 100%;
        /*margin-top: -34px;*/
        height: auto;
        display: block-block;
        position: static;
    }
    .barra{
        text-align: right;
    }
    .content{margin-left: 0px;}
}
@media (max-width:  1181px){
    .m-left{
        display: none;
    }
    .menu--top{
        width: 100%;
        margin-left: 0;
    }
    .more-menu{
        color:white;
        padding: 10px;
        display: block;
        text-align: center;
        background: #404040;
        width: 100%;
        margin-left: 0;
    }
    .iconos-i{
        width: calc(50% - 20px);
    }
    .margin-ico{
        width: calc(100% - 10px);

    }
    
}

@media(min-width: 1182px){
    .m-left{
        display: block !important;
    }
}